.headerContainer{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 1.7rem;
    background-color: white;
    margin: 0.5rem 0 0 0;
    height: 125px;
}

.logo_img{
    width: 250px;
    height: 5rem;

    /*
    position: absolute;
    top: 0px;
    left: 16.7rem; 
    */
}
.logo_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Al div con clase searchT le doy un display flex para poder acomodar la lupa en el centro y luego llevarla 
a la posicion que quiero*/

.searchT{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.startSesion{
    background-color: #29aaeb;
    width: 173.96px;
    height: 36px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.startSesion button{
    font-size: 14px;
    background-color: #29aaeb;
    color: white;
    border: none;
    cursor: pointer;
}


