.home_container{
margin: 0 2rem 2rem 2rem;
}

/*------------------------Primer Carrusel--------------------------*/

#root {
background-color: #eee;
}

#app {
height: 100%;
}
html,
body{
position: relative;
height: 100%;
}
    
    body {
color: #000;
margin: 0;
padding: 0;
}
    
    .swiper {
width: 100%;
height: 100% 
}

/* Al swiper-slide le metí background-color: #eee para que no se 
vean espacios en blanco. */

.swiper-slide {
text-align: center;
font-size: 18px;

/* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
    }

    /*Este es la imagen del carrusel. No podía hacer que los bullets
    bajaran, así que, decidí subir la imagen con margin-button: 2rem
    para hacer el efecto de que los bullets están abajo
    */

.swiper-slide img {
display: block;


width: 100%;
height: 100%;
object-fit: cover;
margin-bottom: 2rem;
}    
.img_carrusel1{
border: 1px solid;
}

.swiper-pagination-bullet {
width: 20px;
height: 20px;
text-align: center;
line-height: 20px;
font-size: 12px;
color: #000;
opacity: 1;
background: rgba(0, 0, 0, 0.2);
/*No sabía como borrar los números. Usé esta propiedad para 
esconderlos:*/
content-visibility: hidden;
    }   
    
    /*No le podia cambiar el width y height a los bullets usando 
    .swiper-pagination-bullet, así que usé el inspector de código 
    y encontre que podia usar .swiper-pagination-bullet-size*/

.swiper-pagination-bullet-size{
width: 1rem;
}

.swiper-pagination-bullet-active {
color: #fff;
background: #007aff;    
    
}

/*-----------------------------------------------Segundo carrusel----------------------------------------------*/
.novedades{
    font-family: "Montserrat";
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 1rem 1rem 1rem;
} 

.swiper-button-prev{
    opacity: 1;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgb(8, 218, 250);
    border-radius: 50%;
    position: absolute;
    left: 3rem;
    bottom: 1px;

}

.swiper-button-next{
    opacity: 1;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgb(8, 218, 250);
    border-radius: 50%;
    position: absolute;
    right: 2.5rem;

}

/*Para cambiar el tamaño de las flechitas*/

:root {
    --swiper-navigation-size: 16px;
}

.segundoCarrusel{
    margin-top: 5rem;
}

.tarjetas_container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    width: 85vw;
    height: 300px;
    margin-left: 3.5rem;
}

.tarjeta{
    width: 300px;
    height: 240px;
    padding: 0.5rem 5px 5px 0.5em;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.tarjeta img{
    width: 105.33px;
    height: 94.33px;
    margin: 0;
}

.tarjeta_title{
    font-size: 0.7rem;
}

.tarjeta_price{
    text-align: center;
    color: #0979b0; 
    font-size: 1rem;
    
}