.form_buscador{
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}



.buscador{
    width: 450px;
    height: 80.58px; 
    border: none;
}


.icono_lupa{
  position: relative;
  right: 1.5rem;
}


