.form_buscador{
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}



.buscador{
    width: 450px;
    height: 80.58px; 
    border: none;
    padding-left: 20px;
}


.icono_lupa{
position: relative;
right: 1.5rem;
}

/*-----------------------------------Este es el código que uso para el icono de x----------------------------------*/

/*Esto es para borrar la x que viene por defecto cuando escribo algo en el buscador.*/
input[type="search"]::-webkit-search-cancel-button {
display: none;
}

/*Es un contenedor que tiene al padre del ícono. Es para que yo pueda posicionar el icono con position absolute*/
.container_icon{
position: relative;
}

/*Clase que le doy al icono para que sea invisible*/
.invisible_icon{
visibility: hidden;
position: absolute;
bottom: -23px;
right: 1.1rem;
}

/*Clase que le doy al icono para que sea visible*/
.visible_icon{
visibility: visible;
position: absolute;
bottom: -23px;
right: 1.4rem;
width: 30px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 50%;
cursor: pointer
}