@font-face {
  font-family: "Monserrat";
  src: url(./assets/font/Montserrat-VariableFont_wght.ttf);
}

*{
  font-family: "Monserrat";
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  
}

